{# @var plugin \heavymetalavo\craftaialttext\AiAltText #}
{# @var settings \heavymetalavo\craftaialttext\models\Settings #}
{% import '_includes/forms.twig' as forms %}

<h2>Instructions</h2>

<p>Lots of info in <a target="_blank" href="https://github.com/heavymetalavo/craft-aialttext">the plugin docs</a>, but a short summary;
<ol>
    <li>Check the plugin settings are suitable for your project (and your API key is added)</li>
    <li>Ensure your volumes have <a href="https://docs.craftcms.com/api/v5/craft-fieldlayoutelements-assets-altfield.html#altfield" target="_blank">the native alt field</a> assigned to the field layout</li>
    <li><p>Ensure your templates are updated to use the <code>alt</code> field, you could consider a fallback <code>asset.alt ?: asset.title</code> if that what was used before</p></li>
    <li>Then generate some AI Alt text by performing one of the following actions:
        <ol>
            <li>Triggering a bulk action in the <a href="{{ cpUrl('utilities/ai-alt-text-bulk-actions') }}">bulk actions utility</a></li>
            <li>For individual or a group of specific assets find them in the <strong>Assets</strong> manager section</a> clicking the checkbox on a row, clicking the cog icon to reveal the Element actions menu and select <strong>Generate AI Alt Text</strong></li>
            <li>When viewing a single asset's page, open the action menu and select <strong>Generate AI Alt Text</strong></li>
            <li>Upload a new asset (if the upload setting is enabled)</li>
        </ol>
    </li>
    <li>The plugin will queue jobs to generate alt text for each selected asset</li>
</ol>



<h2 id="settings">Settings</h2>

{{ forms.selectizeField({
    label: "AI Provider"|t("aialttext"),
    instructions: "Choose which AI service to use for generating alt text"|t("aialttext"),
    id: "aiProvider",
    name: "aiProvider",
    options: [
        { label: 'Anthropic', value: 'anthropic' },
        { label: 'OpenAI', value: 'openai' }
    ],
    includeEnvVars: true,
    allowedEnvValues: null,
    value: settings.aiProvider,
    errors: settings.getErrors("aiProvider")
}) }}

<hr />

<div id="settings-provider-anthropic">
<h3>Anthropic Claude Settings</h3>

{{ forms.autosuggestField({
    label: "Claude API Key"|t("aialttext"),
    instructions: "The API key from your [Anthropic Console account](https://console.anthropic.com/)"|t("aialttext"),
    id: "claudeApiKey",
    name: "claudeApiKey",
    suggestEnvVars: true,
    value: settings.claudeApiKey,
    errors: settings.getErrors("claudeApiKey"),
}) }}

{{ forms.autosuggestField({
    label: 'Claude Model'|t('aialttext'),
    id: 'claudeModel',
    name: 'claudeModel',
    instructions: "The Anthropic Claude model to use. [See available models list](https://docs.anthropic.com/en/docs/about-claude/models). E.g., `claude-haiku-4-5`."|t("aialttext"),
    value: settings.claudeModel,
    placeholder: 'claude-haiku-4-5',
    errors: settings.getErrors('claudeModel'),
    suggestEnvVars: true,
}) }}

{{ forms.selectField({
    label: 'Claude Image Input Detail Level'|t('app'),
    id: 'claudeImageDetailLevel',
    name: 'claudeImageDetailLevel',
    instructions: "How large the image should be scaled before sending to Anthropic. Smaller images process faster and consume fewer tokens, but have less detail."|t("aialttext"),
    options: [
        { label: 'Very Low (300px x 300px)', value: 'very_low' },
        { label: 'Low (500px x 500px)', value: 'low' },
        { label: 'Medium (1000px x 1000px)', value: 'medium' },
        { label: 'High (1568px x 1568px)', value: 'high' }
    ],
    value: settings.claudeImageDetailLevel,
    errors: settings.getErrors('claudeImageDetailLevel')
}) }}
</div>



<hr />

<div id="settings-provider-openai">
<h3>OpenAI Settings</h3>

{{ forms.autosuggestField({
    label: "OpenAI API Key"|t("aialttext"),
    instructions: "The API key from your Open AI account"|t("aialttext"),
    id: "openAiApiKey",
    name: "openAiApiKey",
    suggestEnvVars: true,
    value: settings.openAiApiKey,
    errors: settings.getErrors("openAiApiKey"),
}) }}

{{ forms.autosuggestField({
    label: 'Open AI Model'|t('app'),
    id: 'openAiModel',
    name: 'openAiModel',
    instructions: "The OpenAI model used to generate the response. To find out which models are capable of vision OpenAI suggest to look [on the models page](https://platform.openai.com/docs/models) E.g., `gpt-5-nano`."|t("aialttext"),
    value: settings.openAiModel,
    placeholder: 'gpt-5-nano',
    errors: settings.getErrors('openAiModel'),
    suggestEnvVars: true,
}) }}

{{ forms.autosuggestField({
    label: 'Open AI Image Input Detail Level'|t('app'),
    id: 'openAiImageInputDetailLevel',
    name: 'openAiImageInputDetailLevel',
    instructions: "Specify the [Image input detail level](https://platform.openai.com/docs/guides/images?api-mode=responses&format=url#specify-image-input-detail-level), `low` costs the least at 85 tokens."|t("aialttext"),
    value: settings.openAiImageInputDetailLevel,
    placeholder: 'low',
    errors: settings.getErrors('openAiImageInputDetailLevel'),
    suggestEnvVars: true,
}) }}
</div>

<hr />

{{ forms.textareaField({
    label: 'Prompt'|t('app'),
    id: 'prompt',
    name: 'prompt',
    instructions: "The text prompt which will be sent to the AI with the image to generate the response, supports simple Asset Model and Site Model property values using `{asset.property}` and `{site.property}`"|t("aialttext"),
    value: settings.prompt,
    placeholder: "Describe the image provided, make it suitable for an alt text description. Output in {site.language}",
    errors: settings.getErrors('prompt'),
}) }}

{{ forms.lightswitchField({
    label: 'Propagate'|t('aialttext'),
    id: 'propagate',
    name: 'propagate',
    instructions: "Whether the asset should be saved across all of its supported sites, if enabled it could save the same initial alt text value across all sites."|t("aialttext"),
    on: settings.propagate,
    errors: settings.getErrors('propagate'),
}) }}

{{ forms.lightswitchField({
    label: 'Generate for new image assets (on upload)'|t('aialttext'),
    id: 'generateForNewAssets',
    name: 'generateForNewAssets',
    instructions: "If enabled, the plugin will automatically generate alt text when an image assets is created (on upload)"|t("aialttext"),
    on: settings.generateForNewAssets,
    errors: settings.getErrors('generateForNewAssets'),
}) }}

{{ forms.lightswitchField({
    label: 'Save translated results for each site'|t('aialttext'),
    id: 'saveTranslatedResultsToEachSite',
    name: 'saveTranslatedResultsToEachSite',
    instructions: "If enabled, the plugin will queue an extra job for each site using related content e.g. where `{site.language}` is used in the prompt it will be replaced with the assigned language of the site (`en-GB` for British english, `en-US` for American english, `de` for German etc). When disabled, alt text will generate for assets on the site the control panel is currently working with only."|t("aialttext"),
    on: settings.saveTranslatedResultsToEachSite,
    errors: settings.getErrors('saveTranslatedResultsToEachSite'),
}) }}




