{# @var plugin \heavymetalavo\craftaialttext\AiAltText #}
{# @var settings \heavymetalavo\craftaialttext\models\Settings #}
{% import '_includes/forms.twig' as forms %}

<h2>Instructions</h2>

<p>Lots of info in <a target="_blank" href="https://github.com/heavymetalavo/craft-aialttext">the plugin docs</a>, but a short summary;
<ol>
    <li>Check the plugin settings are suitable for your project (and your API key is added)</li>
    <li>Ensure your volumes have the native `alt` field assigned to the field layout</li>
    <li>Ensure your templates are updated to use the `alt` field, you could consider a fallback `asset.alt ?: asset.title` if that what was used before</li>
    <li>Then generate some AI Alt text by performing one of the following actions:
        <ol>
            <li>Triggering a bulk action in the bulk actions table</li>
            <li>For individual or a group of specific assets find them in the <strong>Assets</strong> manager section</a> clicking the checkbox on a row, clicking the cog icon to reveal the Element actions menu and select <strong>Generate AI Alt Text</strong></li>
            <li>When viewing a single asset's page, open the action menu and select <strong>Generate AI Alt Text</strong></li>
            <li>Upload a new asset (if the upload setting is enabled)</li>
        </ol>
    </li>
    <li>The plugin will queue jobs to generate alt text for each selected asset</li>
</ol>

<hr />

<h2>Bulk actions</h2>

<p>Generate alt text for all assets</p>

<p>⚠️ These actions can generate alt text for all assets on a single Site or all Sites, even if the <strong>Save translated results for each Site</strong> setting is disabled.</p>

<table class="data fullwidth">
    <thead>
        <tr>
            <th>Site</th>
            <th>Total Assets</th>
            <th>With Alt Text</th>
            <th>Without Alt Text</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr class="totalcount">
            <td><strong>{% if sites|length > 1 %} All Sites {% else %} {{ sites|first.name }} {% endif %}</strong></td>
            <td>{{ totalAssetsWithAltTextForAllSites + totalAssetsWithoutAltTextForAllSites }}</td>
            <td>{{ totalAssetsWithAltTextForAllSites }}</td>
            <td>{{ totalAssetsWithoutAltTextForAllSites }}</td>
            <td>
                <div class="buttons">
                    <a href="{{ actionUrl('ai-alt-text/generate/generate-all-assets') }}" class="btn small submit">Generate all</a>
                    <a href="{{ actionUrl('ai-alt-text/generate/generate-assets-without-alt-text') }}" class="btn small submit">Generate missing</a>
                </div>
            </td>
        </tr>
        {% if sites|length > 1 %}
            {% for site in sites %}
            <tr>
                <td>{{ site.name }}</td>
                <td>{{ siteAltTextCounts[site.id].total }}</td>
                <td>{{ siteAltTextCounts[site.id].with }}</td>
                <td>{{ siteAltTextCounts[site.id].without }}</td>
                <td>
                    <div class="buttons">
                        <a href="{{ actionUrl('ai-alt-text/generate/generate-all-assets', {siteId: site.id}) }}" class="btn small submit">Generate all</a>
                        <a href="{{ actionUrl('ai-alt-text/generate/generate-assets-without-alt-text', {siteId: site.id}) }}" class="btn small submit">Generate missing</a>
                    </div>
                </td>
            </tr>
            {% endfor %}
        {% endif %}
    </tbody>
</table>

<hr />

<h2 id="settings">Settings</h2>

{{ forms.autosuggestField({
    label: "OpenAI API Key"|t("aialttext"),
    instructions: "The API key from your Open AI account"|t("aialttext"),
    id: "openAiApiKey",
    name: "openAiApiKey",
    suggestEnvVars: true,
    value: settings.openAiApiKey,
    errors: settings.getErrors("openAiApiKey"),
}) }}

{{ forms.textareaField({
    label: 'Prompt'|t('app'),
    id: 'prompt',
    name: 'prompt',
    instructions: "The text prompt which will be sent to OpenAI with the image to generate the response, supports simple Asset Model and Site Model property values using `{asset.property}` and `{site.property}`"|t("aialttext"),
    value: settings.prompt,
    placeholder: 'Generate a brief (roughly 150 characters maximum) alt text description focusing on the main subject and overall composition. Do not add a prefix of any kind (e.g. alt text: AI content) so the value is suitable for the alt text attribute value of the image. Output in {site.language}',
    errors: settings.getErrors('prompt'),
}) }}

{{ forms.autosuggestField({
    label: 'Open AI Model'|t('app'),
    id: 'openAiModel',
    name: 'openAiModel',
    instructions: "The OpenAI model used to generate the response. To find out which models are capable of vision OpenAI suggest to look [on the models page](https://platform.openai.com/docs/models)"|t("aialttext"),
    value: settings.openAiModel,
    placeholder: 'gpt-4.1-nano',
    errors: settings.getErrors('openAiModel'),
    suggestEnvVars: true,
}) }}

{{ forms.autosuggestField({
    label: 'Open AI Image Input Detail Level'|t('app'),
    id: 'openAiImageInputDetailLevel',
    name: 'openAiImageInputDetailLevel',
    instructions: "Specify the [Image input detail level](https://platform.openai.com/docs/guides/images?api-mode=responses&format=url#specify-image-input-detail-level), `low` costs the least at 85 tokens. Please read about [Image input requirements](https://platform.openai.com/docs/guides/images#image-input-requirements), [limitations](https://platform.openai.com/docs/guides/images?api-mode=responses&format=url#limitations) and [calculating costs & cost calculation examples](https://platform.openai.com/docs/guides/images?api-mode=responses&format=url#calculating-costs) in the OpenAI platform docs for more."|t("aialttext"),
    value: settings.openAiImageInputDetailLevel,
    placeholder: 'low',
    errors: settings.getErrors('openAiImageInputDetailLevel'),
    suggestEnvVars: true,
}) }}

{{ forms.lightswitchField({
    label: 'propagate'|t('aialttext'),
    id: 'propagate',
    name: ' ',
    instructions: "Whether the asset should be saved across all of its supported sites, if enabled it could save the same initial alt text value across all sites."|t("aialttext"),
    on: settings.propagate,
    errors: settings.getErrors('propagate'),
}) }}

{{ forms.lightswitchField({
    label: 'Generate for new image assets (on upload)'|t('aialttext'),
    id: 'generateForNewAssets',
    name: 'generateForNewAssets',
    instructions: "If enabled, the plugin will automatically generate alt text when an image assets is created (on upload)"|t("aialttext"),
    on: settings.generateForNewAssets,
    errors: settings.getErrors('generateForNewAssets'),
}) }}

{{ forms.lightswitchField({
    label: 'Save translated results for each Site'|t('aialttext'),
    id: 'saveTranslatedResultsToEachSite',
    name: 'saveTranslatedResultsToEachSite',
    instructions: "If enabled, the plugin will queue an extra job for each Craft Site using related content e.g. where `{site.language}` is used in the prompt it will be replaced with the assigned language of the Craft Site (`en-GB` for British english, `en-US` for American english, `de` for German etc). When disabled, alt text will generate for assets on the current Site."|t("aialttext"),
    on: settings.saveTranslatedResultsToEachSite,
    errors: settings.getErrors('saveTranslatedResultsToEachSite'),
}) }}
