{# @var plugin \heavymetalavo\craftaialttext\AiAltText #}
{# @var settings \heavymetalavo\craftaialttext\models\Settings #}

<h2>Bulk actions</h2>

<p>Generate alt text for all assets</p>

<table class="data fullwidth">
    <thead>
        <tr>
            <th>Site</th>
            <th>Total Assets</th>
            <th>With Alt Text</th>
            <th>Without Alt Text</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% if sites|length > 1 %}
            <tr class="totalcount">
                <td><strong>All Sites Total</strong></td>
                <td>{{ totalAssetsWithAltTextForAllSites + totalAssetsWithoutAltTextForAllSites }}</td>
                <td>{{ totalAssetsWithAltTextForAllSites }}</td>
                <td>{{ totalAssetsWithoutAltTextForAllSites }}</td>
                <td>
                    <div class="buttons">
                        <a href="{{ actionUrl('ai-alt-text/generate/generate-all-assets') }}" class="btn small submit">Generate all</a>
                        <a href="{{ actionUrl('ai-alt-text/generate/generate-assets-without-alt-text') }}" class="btn small submit">Generate missing</a>
                    </div>
                </td>
            </tr>
            {% for site in sites %}
            <tr>
                <td>{{ site.name }}</td>
                <td>{{ siteAltTextCounts[site.id].total }}</td>
                <td>{{ siteAltTextCounts[site.id].with }}</td>
                <td>{{ siteAltTextCounts[site.id].without }}</td>
                <td>
                    <div class="buttons">
                        <a href="{{ actionUrl('ai-alt-text/generate/generate-all-assets', {siteId: site.id}) }}" class="btn small submit">Generate all</a>
                        <a href="{{ actionUrl('ai-alt-text/generate/generate-assets-without-alt-text', {siteId: site.id}) }}" class="btn small submit">Generate missing</a>
                    </div>
                </td>
            </tr>
            {% endfor %}
        {% endif %}
    </tbody>
</table> 